{% extends 'base.html' %}

{% block sx %}
    <h1>{% block title %} Cancella prenotazione {% endblock %}</h1>
    <form method="POST">
        <div>
            <label for="id_pren">Inserire ID Prenotazione</label>
            <input type="text" name="id_pren"
                placeholder="ID prenotazione">
            </input>
        </div><br>

        <p>
            <button type="submit" onclick="alert('Prenotazione cancellata. Arrivederci.')">Invia Prenotazione</button>
        </p>
    </form>
{% endblock %}