{% extends 'base.html' %}

{% block sx %}
    <h1>{% block title1 %} Pizze {% endblock %}</h1>
    {% for pizza in pizze %}
        <div class='pizza'>
            <h3><strong>{{ pizza[1] }}.</strong> <em><strong>{{ pizza[0] }}</strong></em> ....{{ pizza[2] }} €</h3>
            {% if pizza[1] == 1 %}
                {% for ingrediente1 in ingredienti1 %}
                    <div class='ingrediente1'>
                        <font size="1">{{ ingrediente1[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 2 %}
                {% for ingrediente2 in ingredienti2 %}
                    <div class='ingrediente2'>
                        <font size="1">{{ ingrediente2[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 3 %}
                {% for ingrediente3 in ingredienti3 %}
                    <div class='ingrediente3'>
                        <font size="1">{{ ingrediente3[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 4 %}
                {% for ingrediente4 in ingredienti4 %}
                    <div class='ingrediente4'>
                        <font size="1">{{ ingrediente4[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 5 %}
                {% for ingrediente5 in ingredienti5 %}
                    <div class='ingrediente5'>
                        <font size="1">{{ ingrediente5[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 6 %}
                {% for ingrediente6 in ingredienti6 %}
                    <div class='ingrediente6'>
                        <font size="1">{{ ingrediente6[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 7 %}
                {% for ingrediente7 in ingredienti7 %}
                    <div class='ingrediente7'>
                        <font size="1">{{ ingrediente7[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pizza[1] == 8 %}
                {% for ingrediente8 in ingredienti8 %}
                    <div class='ingrediente8'>
                        <font size="1">{{ ingrediente8[0]}}</font>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <h1>{% block title2 %} Bevande {% endblock %}</h1>
    {% for bevanda in bevande %}
        <div class='bevanda'>
            <h3><strong>{{ bevanda[1] }}.</strong> <em><strong>{{ bevanda[0] }}</strong></em> ....{{ bevanda[2] }} €</h3>
        </div>
    {% endfor %}
{% endblock %}

{% block dx %}
    <h3>
            <br><br>Ciao! <br><br> Usa il menu in alto per iniziare. <br><br>
            Con questa applicazione potrai aggiungere, modificare o, se proprio devi, annullare una prenotazione nella nostra pizzeria. <br><br>
            Il tutto ovviamente fatto con pochissimi click. <br><br><br>   
    </h3>
    <h1><strong><em>ENJOY!</em></strong></h1> 
{% endblock %}