{% extends 'base.html' %}

{% block menu %}
    <h1>{% block title1 %} Pizze {% endblock %}</h1>
    {% for pizza in pizze %}
        <div class='pizza'>
            <strong>{{ pizza[1] }}.</strong> <em><strong>{{ pizza[0] }}</strong></em> ....{{ pizza[2] }}
        </div>
    {% endfor %}

    <h1>{% block title2 %} Bevande {% endblock %}</h1>
    {% for bevanda in bevande %}
        <div class='bevanda'>
            <strong>{{ bevanda[1] }}.</strong> <em><strong>{{ bevanda[0] }}</strong></em> ....{{ bevanda[2] }}
        </div>
    {% endfor %}
{% endblock %}

{% block variable %}
    <h6>
            Ciao! <br><br> Usa il menu in alto per iniziare. <br><br>
            Con questa applicazione potrai aggiungere, modificare o, se proprio devi, annullare una prenotazione nella nostra pizzeria. <br><br>
            Il tutto ovviamente fatto con pochissimi click. <br><br><br>   
    </h6>
    <strong><em>ENJOY!</em></strong> 
{% endblock %}