{% extends 'base.html' %}

{% block menu %}
    <h1>{% block title1 %} Pizze {% endblock %}</h1>
    {% for pizza in pizze %}
        <div class='pizza'>
            <h3><strong>{{ pizza[1] }}.</strong> <em><strong>{{ pizza[0] }}</strong></em> ....{{ pizza[2] }} €</h3>
            <label for="n_pezzi_p">N. pezzi:
            </label>
            <input type="number"
            id="n_pezzi_p" name="n_pezzi_p"
            min="1" max="10" value="0">
        </div>
    {% endfor %}

    <h1>{% block title2 %} Bevande {% endblock %}</h1>
    {% for bevanda in bevande %}
        <div class='bevanda'>
            <h3><strong>{{ bevanda[1] }}.</strong> <em><strong>{{ bevanda[0] }}</strong></em> ....{{ bevanda[2] }} €</h3>
            <label for="n_pezzi_b">N. pezzi:
            </label>
            <input type="number"
            id="n_pezzi_b" name="n_pezzi_b"
            min="1" max="10" value="0">
        </div>
    {% endfor %}
{% endblock %}

{% block variable %}
    <h1>{% block title %} Nuova prenotazione {% endblock %}</h1>
    <form method="POST">
        <p>
            <label for="nome">Nome Cliente</label>
            <input type="text" name="nome"
                   placeholder="Nome Cliente">
            </input>
        </p>

        <p>
            <label for="cod_fiscale">Codice Fiscale</label>
            <input type="text" name="cod_fiscale"
                   placeholder="Codice Fiscale">
            </input>
        </p>

        <p>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono"
                   placeholder="Facoltativo">
            </input>
        </p>

        <p>
            <label for="data">Data</label>
            <input type="date" name="data"
                   placeholder="Data">
            </input>
        </p>

        <p>
            <label for="orario">Orario</label>
            <input type="time" name="orario"
                   placeholder="hh:mm">
            </input>
        </p>

        <p>
            <label for="cod_coupon">Codice Coupon</label>
            <input type="number" name="cod_coupon"
                   placeholder="Facoltativo">
        </p>

        <p>
            <button type="submit">Invia Prenotazione</button>
        </p>
    </form>
{% endblock %}