{% extends 'base.html' %}

{% block variable %}
    <h1>{% block title %} Nuova prenotazione {% endblock %}</h1>
    <form method="POST">
        <p>
            <label for="nome">Nome Cliente</label>
            <input type="text" name="nome"
                   placeholder="Nome Cliente">
            </input>
        </p>

        <p>
            <label for="id_cliente">Codice Fiscale</label>
            <input type="text" name="id_cliente"
                   placeholder="Codice Fiscale">
            </input>
        </p>

        <p>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono"
                   placeholder="Telefono">
            </input>
        </p>

        <p>
            <label for="cod_pizza">Codice Pizza</label>
            <input type="number" name="cod_pizza"
                   placeholder="Codice Pizza">
            </input>
        </p>

        <p>
            <label for="n_pizze">Numero Pizze</label>
            <input type="number" name="n_pizze"
                   placeholder="Numero pizze">
            </input>
        </p>

        <p>
            <label for="cod_bevanda">Codice Bevanda</label>
            <input type="number" name="cod_bevanda"
                   placeholder="Codice Bevanda">
            </input>
        </p>

        <p>
            <label for="n_bevande">Numero Bevande</label>
            <input type="number" name="n_bevande"
                   placeholder="Numero Bevande">
            </input>
        </p>

        <p>
            <label for="data">Data</label>
            <input type="date" name="data"
                   placeholder="Data">
            </input>
        </p>

        <p>
            <label for="orario">Orario</label>
            <input type="text" name="orario"
                   placeholder="Orario">
            </input>
        </p>

        <p>
            <label for="cod_coupon">Codice Coupon</label>
            <input type="number" name="cod_coupon"
                   placeholder="Codice Coupon">
        </p>

        <p>
        <label for="rich_partic">Richieste Particolari</label>
        <br>
        <textarea name="rich_partic"
                  placeholder="Richieste Particolari"
                  rows="15"
                  cols="60"
                  ></textarea>
        </p>
        <p>
            <button type="submit">Invia Prenotazione</button>
        </p>
    </form>
{% endblock %}