<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} PIZZApp {% endblock %}</title>
    <style>
        nav a {
            color: rgb(128, 24, 24);
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        nav indice {
            color: rgb(128, 24, 24);
            font-size: 0.3em;
            margin-left: 50px;
            text-decoration: none;
        }
        .corpo {
            width: 100%;
            /* border: 0.3px solid rgb(7, 79, 84) ; */
            color: rgb(7, 79, 84);
            line-height: 0.5;
        }

    </style>
</head>
<body style="background: #45a62b68">

    {% set accumulator = namespace(totp=0, totb=0) %}

    <nav>
        <a href="{{ url_for('index') }}"><strong>PIZZApp       |</strong></a>
        <a href="{{ url_for('create') }}"><indice><strong>| Nuova prenotazione    |</strong></indice></a>
        <a href="{{ url_for('update') }}"><indice><strong>| Modifica prenotazione    |</strong></indice></a>
        <a href="{{ url_for('delete') }}"><indice><strong>| Cancella prenotazione    |</strong></indice></a>
    </nav>
    <hr>

    {% block corpo %}

    <div class="corpo">
        <div align="center"><p><h1><strong>RIEPILOGO PRENOTAZIONE</strong></h1></p></div>
        {% for dato in dati %}
            <div class='dato'>
                <table align="center" style="width:50%">
                    <tr>
                        <td align="left">
                            <h5>Cliente: </h5><h4><i><strong>{{ dato[4] }}</strong></i></h4>
                        </td>
                        <td align="right">
                            <h5>N. PRENOTAZIONE: </h5><h4><i><strong>{{ dato[0] }}</strong></i></h4>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <h5>Telefono: <i><strong>{{ dato[5] }}</strong></i></h5>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <h5>Data e ora consegna: <i><strong>{{ dato[1] }} , {{ dato[2] }}</strong></i></h5>
                        </td>
                    </tr>                  
                </table>
            </div>
        {% endfor %}

        <p align="center">=================================================</p>
        
        <div class='riep_ordine'>
            <br><br><table align="center" style="width:50%">
                <tr>
                    <th align="left" style="width:50%">Prodotto</th>
                    <th>Q.tà</th>
                    <th align="center">P.Unit.</th>
                    <th align="right"><strong>Prezzo totale</strong></th>
                </tr>
                <tr>
                    <td>
                        <h5>PIZZE</h5>
                    </td>
                </tr>
                {% for pizza in pizze %}
                    <tr>
                        <td>
                            <h5><i>{{ pizza[7] }}</i></h5>
                        </td>
                        <td align="center">
                            <h5>{{ pizza[4] }} x</h5>
                        </td>
                        <td align="center">
                            <h5>{{ pizza[9] }}</h5>
                        </td>
                        
                        <td align="right">
                            <p><strong><i>=  </i>{{ pizza[4]*pizza[9] }} €</strong></p>
                            {% set accumulator.totp = accumulator.totp + pizza[4]*pizza[9] %}
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <h5>BEVANDE</h5>
                    </td>
                </tr>
                {% for bevanda in bevande %}
                    <tr>
                        <td>
                            <h5><i>{{ bevanda[7] }}</i></h5>
                        </td>
                        <td align="center">
                            <h5>{{ bevanda[4] }} x</h5>
                        </td>
                        <td align="center">
                            <h5>{{ bevanda[9] }}</h5>
                        </td>
                        <td align="right">
                            <p><strong><i>=  </i>{{ bevanda[4] * bevanda[9] }} €</strong></p>
                            {% set accumulator.totb = accumulator.totb + bevanda[4]*bevanda[9]  %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <h5>_______________________________________________</h5>
                    </td>
                    <td>
                        <h5>_____________</h5>
                    </td>
                    <td>
                        <h5>_________________</h5>
                    </td>
                    <td>
                        <h5>____________________</h5>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td align="center"></td>
                    <td align="center">
                        <h3>TOTALE</h3>
                    </td>
                    <td align="right">
                        <h2><strong><i>{{ accumulator.totp + accumulator.totb }} €</i></strong></h2>
                    </td>
                </tr>

                {% if cod_coupon != 0 %}
                    {% for coupon in coupons %}
                        <tr>
                            <td><h5>Codice sconto {{ coupon[0] }}</h5></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="right">
                                <h4><strong><i>- {{ coupon[1] }} €</i></strong></h4>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td align="right">
                                <h5>TOTALE</h5>
                            </td>
                            <td align="left">
                                <h5>SCONTATO</h5>
                            </td>
                            <td align="right">
                                <h2><strong><i>{{ accumulator.totp + accumulator.totb - coupon[1] }} €</i></strong></h2>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </table><br><br>
    </div>

    {% endblock %}

</body>
</html>
